.wrapperchathead{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 320px;
  width: 100%;
}
.block-img{
  width: 50px;
  height: 50px;
  object-fit: contain;
  position: relative;
  margin: 20px 10px;
  border: 1px solid grey;
  border-radius: 50%;
  & .myava{
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
  & .online{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    fill: lawngreen;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.burger{
  display: none;
  padding: 10px;
}
.close{
  position: absolute;
  right: 0;
  top: 0;
}
@media screen and (max-width: 1326px){
  .block-img{
    margin: 1px;
    width: 45px;
    height: 45px;
    & .myava{
      width: 45px;
      height: 45px;
    }
  }
  //.full{
  //  display: none;
  //}
  //.search-block{
  //  margin: 0;
  //  & label{
  //    width: 30px;
  //    height: 30px;
  //    position: absolute;
  //    left: 10px;
  //    bottom: -30px;
  //  }
  //}
  .burger{
    display: block;
  }
}
