.container{
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.side-block{
  display: flex;
  height: 100vh;
  overflow: hidden;
  border-right: 1px solid #b4b0b0;
  background-color: whitesmoke;
  position: absolute;
  z-index: 1000;
}
.chat-block{
  display: flex;
  height: 100vh;
  max-width: 100vw;
  width: 100%;
  padding-left: 320px;
  justify-content: center;
}

@media screen and (max-width: 1326px){
  .side-block{
    position: absolute;
    width: 50px;
    transition: all 0.5s ease-out;
  }
  .chat-block{
    padding-left: 50px;
  }
}
