.containerSide{
  display: flex;
  flex-direction: column;
}
.side-header{
  height: 130px;
  border-bottom: 1px solid #b4b0b0;
  width: 320px;
  background-color: #f5f5f5;
}
.side-chats{
  width: 320px;

}
